body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-image: radial-gradient(circle, red, orange, yellow, rgb(54, 115, 54), rgb(255, 0, 204), rgb(29, 140, 177), lightgreen);
}

main {
    background-image: linear-gradient(to right, red , rgb(111, 215, 14));
    border-radius: 10px;
    padding: 25px;
    width: 30%;
    text-align: center;
    border: 2px solid lightgreen;
}

h1 {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    background-color: rgb(165, 87, 87, 0.4);
    animation: btn1 4s 0.125ms infinite ease-in-out;
}


.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    color: #868686;
    flex: 1;
}

#user-info span {
    color: #f3e7e7;
    text-align: left;
    padding-left: 10px;
}


@keyframes btn1 {
    0% {
      color: rgb(249, 7, 249);
    }

    25% {
        color: blue;
    }

    50% {
        color: #33ccff;
    }

    75% {
        color: chartreuse;
    }
    100% {
        color: red;
    }
}
